.hidden{
    display: none;
}

:root{
    --Dark-Blue: hsl(209, 23%, 22%);
--Very-Dark-Blue1: hsl(207, 26%, 17%);
--Very-Dark-Blue2: hsl(200, 15%, 8%);
--Dark-Gray: hsl(0, 0%, 52%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue2);
}
.theme-switcher{
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}   
header{
    padding: 30px 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}

.main-section-wrapper{
    display: flex;
    flex-direction: column;
}

.searching-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.search-bar{
    background-color: var(--White);
    border: solid black 1px;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.search-input{
    outline: none;
    border: none;
    padding-left: 20px;
}
.filtration{
    background-color: var(--White);
}
.filtration select{
    background-color: var(--White);
    width: 200px;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.country-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
.country-card{
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;
}
.country-card img{
    width: 300px;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}
.country-card-text{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.country-info{
    padding-bottom: 20px;
}


.country-detail-container-wrapper{
    display: flex;
    flex-direction: column;
}
#back-btn{
    width: fit-content;
    padding: 10px 50px 10px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 80px 0px;
}
.country-flag img{
    width: 600px;
    height: 400px;
}
.country-information{
    display: flex;
    gap: 100px;
}
.country-details{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.country-details-list{
    display: flex;
    gap: 50px;
}
.country-details-list ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.country-borders{
    padding-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.country-borders span{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}